<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
    <h1>Bem-vindo ao Sistema de Cardápio</h1>

    <p>Escolha uma opção:</p>
    <ul>
        <li><strong>Acesso do Cliente</strong></li>
        <li><a href="/cardapio">Ver Cardápio</a></li>

        <br>

        <li><strong>Acesso do Chefe</strong></li>
        <li><a href="/prato_novo">Adicionar Prato</a></li>
        <li><a href="/usuarios">Ver Usuários</a></li>
        <li><a href="/novo_usuario">Adicionar Usuário</a></li>
    </ul>
</body>
</html>